body{
	background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;
	margin: 10px;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

ul, ol, li{
    list-style: none;
    font-size: 20px;
    margin: 10px;
}



.myButton {
	background-color:#f0b22d;
	border-radius: 12px;
	border: none;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:10px 39px;
	
	
	height: 50px;
	width: 100%;
}
.myButton:hover {
	background-color:#f3b014;
}
.myButton:active {
	position:relative;
	top:1px;
}

h1{
	margin: 20px 25px;
	font-size: 30px;
	text-decoration: underline;
}

p{
	font-size: 20px;
}
